<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.recyclerview">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ApplicationMain"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.ListRecyclerViewActivity"
            android:label="List Recycler View" />
        <activity
            android:name=".view.GridRecyclerViewActivity"
            android:label="Grid Recycler View" />
        <activity
            android:name=".view.CustomRecyclerViewActivity"
            android:label="Custom Recycler View" />
        <activity
            android:name=".view.HorizontalScrollViewActivity"
            android:label="Horizontal Recycler View"></activity>
    </application>

</manifest>